@model IEnumerable<AtelierGlMvc.Models.Etudiant>

@{
    ViewBag.Title = "Etudiants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="form-group">
                @Html.Label("Nom", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Nom", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                @Html.Label("Prenom", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Prenom", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                @Html.Label("Telephone", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Tel", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Rechercher" class="btn btn-primary mt-3" />
                </div>
            </div>
        </div>
    </div>
</div>

    <h2 class="text-center mt-5">Liste des etudiants</h2>

    <p>
        @Html.ActionLink("Nouveau Etudiant", "Create")
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Plus", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
